extends layout

block content
  h1= title
  form#formAddArticle(name="addbook", method="post", action="/addbooks")   
      input#inputTitle(type="text", name="title", placeholder="title")    
      input#inputDescription(type="text", name="description", placeholder="description")    
      input#inputAuthor(type="text", name="author", placeholder="author")   
      button#btnSubmit(type="submit") Submit
      
      
